<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="{[ url_for('static', filename='css/card.css') ]}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="{[ url_for('static', filename='js/card.js') ]}"></script>
<title>{[ title ]}</title>
</head>
<body>
<div id="app">
  <h3>卡片資訊</h3><button v-on:click="changeLanguage()" :disabled="notBoth">{{ panelWord }}</button>
  <table id="card">
    <tr><td rowspan="5"><img class="card_image" :src="shown.img_url"/></td>
    <th :style="styleList">名稱</td></td><td>{{ shown.name }}</td></tr>
    <th :style="styleList">所屬偶像</td></td><td><a :href="shown.idolUrl"> {{ shown.idolName }}</a></td></tr>
    <tr><th :style="styleList">取得方式</td><td><b>{{ shown.aquireType }}</b><br><a :href="shown.from_url" v-if="shown.has_from_url">{{ shown.aquireTitle }}</a><span v-else>{{ shown.aquireTitle }}</span></td></tr>
    <tr><th :style="styleList">{{ shown.awakenWord }}</td><td v-if="shown.awaken !== null"><a :href="shown.awaken.url"><img class="card_icon" :src="shown.awaken.img_url"/>{{ shown.awakenName }}</a></td><td v-else>尚未更新</td></tr>
    <tr><th :style="styleList">實裝時間<td>{{ shown.time }}</td></tr>
    <tr>
    <tr><th :style="styleList">技能</th><td>{{ shown.skillType }}</td><td><b>{{ shown.skillName }}</b><br>{{ shown.skillDesc }}</td></tr>
    <tr><th :style="styleList">背景敘述</td><td colspan="2">{{ shown.flavor }}</td></tr>
  </table>
  <div v-if="shown.from == 'Gasha' && shown.gashas.length != 0">
    <h3>實裝 / Pick Up 的卡池</h3>
    <table id="gashas">
      <th v-for="gashaTitle in gashaTitles">{{ gashaTitle }}</th>
      <tr v-for="gasha in shown.gashas">
        <td>{{ gasha.gasha_type }}</td>
        <td>{{ gasha.name }}</td>
        <td>{{ gasha.start }}</td>
        <td>{{ gasha.over }}</td>
      </tr>
    </table>
  </div>
  <div v-if="shown.from == 'Event' && shown.event != null">
    <h3>實裝的活動</h3>
    <table id="event">
        <td>{{ shown.event.event_type }}</td>
        <td>{{ shown.event.name }}</td>
        <td>{{ shown.event.start }}</td>
        <td>{{ shown.event.over }}</td>
      </tr>
    </table>
  </div>
</div>
<script type="application/json" id="card_json">{[card|safe]}</script>
</body>
</html>