{% extends "base.html" %}
{% block title %}{[ title ]}{% endblock %}
{% block head %}
{[ super() ]}
<link rel="stylesheet" href="{[ url_for('static', filename='css/card.css') ]}">
<script src="{[ url_for('static', filename='js/card.js') ]}"></script>
{% endblock %}

{% block navbar %}
{[ super() ]}
<button class="btn btn-outline-light ms-auto" v-on:click="changeLanguage()" :disabled="notBoth">{{ panelWord }}</button>
{% endblock %}

{% block content %}
<div class="row">
<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a>所有卡片</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ shown.name }}</li>
  </ol>
</nav>
</div>
<div class="row g-0">
  <div class="col-xl-2 col-lg-3 col-12 text-center">
    <img role="button" class="card_image mw-100" :src="shown.img_url" data-bs-toggle="modal" data-bs-target="#cardModal"/>
  </div>
  <div class="col-xl-10 col-lg-9"><div class="container-fluid">
    <my-tr><my-th :style="styleList">名稱</my-th><my-td>{{ shown.name }}</my-td></my-tr>
    <my-tr><my-th :style="styleList">所屬偶像</my-th><my-td><a :href="shown.idol.url"> {{ shown.idol.name }}</a></my-td></my-tr>
    <my-tr><my-th :style="styleList">取得方式</my-th><my-td><b>{{ shown.aquire.type }}</b><br><a :href="shown.from_url" v-if="shown.has_from_url">{{ shown.aquire.title }}</a><span v-else>{{ shown.aquire.title }}</span></my-td></my-tr>
    <my-tr><my-th :style="styleList">{{ shown.awakenWord }}</my-th><my-td v-if="shown.awaken !== null"><a :href="shown.awaken.url"><img class="card_icon me-2" :src="shown.awaken.img_url"/>{{ shown.awakenName }}</a></my-td><my-td v-else>尚未更新</my-td></my-tr>
    <my-tr><my-th :style="styleList">實裝時間</my-th><my-td>{{ shown.time }}</my-td></my-tr>
  </div></div>
</div>
<div class="row g-0"><div class="col"><div class="container-fluid">
    <my-tr><my-th :style="styleList">技能</my-th><my-td>{{ shown.skillType }}<b>{{ shown.skillName }}</b><br>{{ shown.skillDesc }}</my-td></my-tr>
    <my-tr><my-th :style="styleList">背景敘述</my-th><my-td>{{ shown.flavor }}</my-td></my-tr>
  </div>
</div></div>
<div v-if="shown.from == 'Gasha' && shown.gashas.length != 0" class="row"><div class="col">
  <h4>實裝 / Pick Up 的卡池</h4>
  <table id="gashas" class="table">
    <th v-for="gashaTitle in gashaTitles">{{ gashaTitle }}</th>
    <tr v-for="gasha in shown.gashas">
      <td>{{ gasha.gasha_type }}</td>
      <td><a :href="gasha.url">{{ gasha.name }}</a></td>
      <td>{{ gasha.start }}</td>
      <td>{{ gasha.over }}</td>
    </tr>
  </table>
</div></div>
<div v-if="shown.from == 'Event' && shown.event != null" class="row"><div class="col">
  <h4>實裝的活動</h4>
  <table id="event" class="table">
      <td>{{ shown.event.event_type }}</td>
      <td><a :href="shown.event.url">{{ shown.event.name }}</a></td>
      <td>{{ shown.event.start }}</td>
      <td>{{ shown.event.over }}</td>
    </tr>
  </table>
</div></div>

<div class="modal fade" id="cardModal" tabindex="-1" aria-labelledby="cardModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen" role="document">
    <div id="cardGallery" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img :src="shown.img_url" class="d-block" style="max-height: 100vh; max-width: 100vw; margin: auto">
        </div>
        <div v-if="shown.rare === 'SSR' || shown.rare === 'SSR＋'" class="carousel-item">
          <img :src="shown.big_img_url" class="d-block" style="max-height: 100vh; max-width: 100vw; margin: auto">
        </div>
      </div>
      <a class="carousel-control-prev" style="pointer-events: auto" role="button" href="#cardGallery" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" style="pointer-events: auto" role="button" href="#cardGallery" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block body %}
{[ super() ]}
<script type="application/json" id="card_json">{[card|safe]}</script>
{% endblock body %}
