{% extends "base.html" %}
{% block title %}卡片列表{% endblock %}
{% block head %}
{[ super() ]}
<link rel="stylesheet" href="{[ url_for('static', filename='css/cards.css') ]}">
<script src="{[ url_for('static', filename='js/cards.js') ]}"></script>
{% endblock %}

{% block navbar %}
{[ super() ]}
<button class="btn btn-outline-light ms-auto" v-on:click="changeLanguage()" :disabled="notBoth">{{ panelWord }}</button>
{% endblock %}

{% block content %}
<div class="row">
<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">所有卡片</li>
  </ol>
</nav>
</div>
<div class="row g-1">
  <div class="col-2">
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#filterModal">篩選條件</button>
  </div>
  <div class="col-2">
    <button type="button" class="btn btn-outline-primary">排序條件</button>
    <span>依條件排序</span>
  </div>
</div>
<table class="table mt-3 align-middle">
  <tbody><tr v-for="card in pageFltCards">
    <td><a :href="card.url">
    <div class="card_icon me-2" :class="cardClass(card)">
      <img :src="card.img_url"/>
    </div>{{ card.name }}</a></td>
    <td>{{ card.time }}</td>
  </tr></tbody>
</table>
<div class="row g-1">
  <div class="col-lg-2">
    <select class="form-select" v-model.number="paging.purPage">
      <option v-for="opt in paging.onePageList" :value="opt">{{ opt }}</option>
    </select>
  </div>
  <nav aria-label="card_pagination">
    <ul class="pagination justify-content-end">
      <li :class="{'page-item': true, disabled: calcPagination.noPrev}">
        <a class="page-link" href="#" v-on:click="prevPage()" :aria-disabled="calcPagination.noPrev">Previous</a>
      </li>
      <li v-for="page in calcPagination.pages" :class="{'page-item': true, active: page.isCurrent}">
        <span class="page-link" v-if="page.isCurrent">{{ page.val }}</span>
        <a class="page-link" href="#" v-on:click="changePage(page.val)" v-else>{{ page.val }}</a>
      </li>
      <li :class="{'page-item': true, disabled: calcPagination.noNext}">
        <a class="page-link" href="#" v-on:click="nextPage()" :aria-disabled="calcPagination.noNext">Next</a>
      </li>
    </ul>
  </nav>
</div>

<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">選擇篩選條件</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row gy-2 row-cols-1" v-for="(attr, key) in shownFilters">
          <div class="col">
            <b>{{ attr.label }}</b>
          </div>
          <div class="col" v-if="attr.type === 'check'">
            <div class="form-check me-2 d-inline-block" v-for="opt in attr.options">
              <input class="form-check-input" type="checkbox" :value="opt.val" :id="'check-'+opt.val" v-model="attr.selected"/>
              <label class="form-check-label" :for="'check-'+opt.val">
                {{ opt.text }}
              </label>
            </div>
          </div>
          <div class="col" v-if="attr.type === 'idol_check'">
            <div class="row gy-2 row-col-1">
              <div class="col-10">
                <div class="form-check me-2 d-inline-block" v-for="opt in attr.type_options">
                  <input class="form-check-input" type="checkbox" :id="'check-'+opt" :checked="attr.type_selected.includes(opt)" v-on:change="toggleTypeSelected(attr, opt)"/>
                  <label class="form-check-label" :for="'check-'+opt">
                    {{ opt }}
                  </label>
                </div>
              </div>
              <div class="col-10">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="check-one-idol" :checked="attr.idol_enabled" v-on:change="setIdolEnabled(attr, !attr.idol_enabled)"/>
                <label role="button" for="check-one-idol" class="form-select d-inline-block" style="width: auto" data-bs-target="#idolModal" data-bs-toggle="modal" data-bs-dismiss="modal" v-on:click="setIdolEnabled(attr, true)">
                  {{ shownIdols[attr.idol_selected.toString()].name }}
                </label>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="idolModal" tabindex="-1" aria-labelledby="idolModalLabel" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">偶像列表</h5>
        <button type="button" class="btn-close" data-bs-target="#filterModal" data-bs-toggle="modal" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="row row-cols-lg-6 row-cols-4 gy-2">
          <div class="col" v-for="(idol, key) in shownIdols">
              <div class="card">
                <a class="stretched-link" v-on:click="selectIdol(idol.id)" data-bs-target="#filterModal" data-bs-toggle="modal" data-bs-dismiss="modal" href="#">
                  <img :src="idol.img_url" class="card-img-top"/>
                </a>
                <div class="card-body p-1 text-center">{{ idol.name }}</div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block body %}
{[ super() ]}
<script type="application/json" id="cards_json">{[cards|safe]}</script>
<script type="application/json" id="filters_json">{[filters|safe]}</script>
<script type="application/json" id="idols_json">{[idols|safe]}</script>
{% endblock %}
