{% extends "base.html" %}
{% block title %}活動列表{% endblock %}
{% block head %}
{[ super() ]}
<link rel="stylesheet" href="{[ url_for('static', filename='css/events.css') ]}">
<script src="{[ url_for('static', filename='js/events.js') ]}"></script>
{% endblock %}

{% block navbar %}
{[ super() ]}
<button class="btn btn-outline-light ms-auto" v-on:click="changeLanguage()" :disabled="notBoth">{{ panelWord }}</button>
{% endblock %}

{% block content %}
<div class="row">
<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">所有活動</li>
  </ol>
</nav>
</div>
<div class="row g-1">
  <div class="col-lg-4" v-for="(attr, key) in filters"><div class="input-group">
      <div class="input-group-text">
        <input class="form-check-input me-1" type="checkbox" :id="'check-'+key" v-model="attr.enabled" />
        <label class="form-check-label" for="'check-'+key">{{ attr.label }}</label>
      </div>
      <input class="form-control" type="text" v-if="attr.type === 'search'" v-model="attr.value" placeholder="請輸入活動名稱"/>
      <select class="form-select" v-model="attr.selected" v-if="attr.type === 'option'">
        <option value="" disabled>選擇活動類型</option>
        <option v-for="opt in shownOptions(attr.options)" :value="opt.val">{{ opt.text }}</option>
      </select>
  </div></div>
</div>
<table class="table mt-3 align-middle" id="event">
  <tbody><tr v-for="event in pageFltEvents">
    <td><a :href="event.url">{{ event.name }}</a></td>
    <td>{{ event.start }}</td>
    <td>{{ event.over }}</td>
  </tr></tbody>
</table>
<div class="row g-1">
  <div class="col-lg-2">
    <select class="form-select" v-model.number="paging.purPage">
      <option v-for="opt in paging.onePageList" :value="opt">{{ opt }}</option>
    </select>
  </div>
  <nav aria-label="event_pagination">
    <ul class="pagination justify-content-end">
      <li :class="{'page-item': true, disabled: calcPagination.noPrev}">
        <a class="page-link" href="#" v-on:click="prevPage()" :aria-disabled="calcPagination.noPrev">Previous</a>
      </li>
      <li v-for="page in calcPagination.pages" :class="{'page-item': true, active: page.isCurrent}">
        <span class="page-link" v-if="page.isCurrent">{{ page.val }}</span>
        <a class="page-link" href="#" v-on:click="changePage(page.val)" v-else>{{ page.val }}</a>
      </li>
      <li :class="{'page-item': true, disabled: calcPagination.noNext}">
        <a class="page-link" href="#" v-on:click="nextPage()" :aria-disabled="calcPagination.noNext">Next</a>
      </li>
    </ul>
  </nav>
</div>
{% endblock %}

{% block body %}
{[ super() ]}
<script type="application/json" id="events_json">{[events|safe]}</script>
<script type="application/json" id="types_json">{[types|safe]}</script>
{% endblock %}
