{% extends "base.html" %}
{% block title %}活動列表{% endblock %}
{% block head %}
{[ super() ]}
<link rel="stylesheet" href="{[ url_for('static', filename='css/events.css') ]}">
<script src="{[ url_for('static', filename='js/events.js') ]}"></script>
{% endblock %}

{% block navbar %}
{[ super() ]}
<button class="btn btn-outline-light ms-auto" v-on:click="changeLanguage()" :disabled="notBoth">{{ panelWord }}</button>
{% endblock %}

{% block content %}
<div class="row">
<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">所有活動</li>
  </ol>
</nav>
</div>
<table class="table mt-3 align-middle" id="event" data-pagination="true" data-page-list="[10, 25, 50, 100, all]">
  <tbody><tr v-for="event in shown">
    <td><a :href="event.url">{{ event.name }}</a></td>
    <td>{{ event.start }}</td>
    <td>{{ event.over }}</td>
  </tr></tbody>
</table>
{% endblock %}

{% block body %}
{[ super() ]}
<script type="application/json" id="events_json">{[events|safe]}</script>
{% endblock %}
