{% extends "base.html" %}
{% block title %}偶像列表{% endblock %}
{% block head %}
{[ super() ]}
<link rel="stylesheet" href="{[ url_for('static', filename='css/idols.css') ]}">
<script src="{[ url_for('static', filename='js/idols.js') ]}"></script>
{% endblock %}

{% block content %}
<div class="row">
<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">所有偶像</li>
  </ol>
</nav>
</div>
<label>篩選</label>
<div class="row g-1">
  <div class="col-lg-4"><div class="input-group">
    <div class="input-group-text">
      <input class="form-check-input me-1" type="checkbox" id="ageCheck" v-model="filters.chkage" />
      <label class="form-check-label" for="ageCheck">年齡</label>
    </div>
    <input class="form-control" type="number" v-model.number="filters.askage" min="0" step="1" max="100"/>
    <select class="form-select" v-model="filters.agedir">
      <option v-for="opt in diroptions" :value="opt.val">{{ opt.text }}</option>
    </select>
  </div></div>

  <div class="col-lg-4"><div class="input-group">
    <div class="input-group-text">
      <input class="form-check-input me-1" type="checkbox" id="heightCheck" v-model="filters.chkheight" />
      <label class="form-check-label" for="heightCheck">身高</label>
    </div>
    <input class="form-control" type="number" v-model.number="filters.askheight" min="0" max="200"/>
    <select class="form-select" v-model="filters.heightdir">
      <option v-for="opt in diroptions" :value="opt.val">{{ opt.text }}</option>
    </select>
  </div></div>

  <div class="col-lg-4"><div class="input-group">
    <div class="input-group-text">
      <input class="form-check-input me-1" type="checkbox" id="weightCheck" v-model="filters.chkweight" />
      <label class="form-check-label" for="weightCheck">體重</label>
    </div>
    <input class="form-control" type="number" v-model.number="filters.askweight" min="0" max="100"/>
    <select class="form-select" v-model="filters.weightdir">
      <option v-for="opt in diroptions" :value="opt.val">{{ opt.text }}</option>
    </select>
  </div></div>
</div>

<table class="table mt-3 align-middle" id="idols">
  <thead class="table-light"><tr>
    <th v-for="info in idolinfo">
    <a href="#" v-on:click="sortKey(info.val)" v-bind:class="{ active: sorts.key == info.val }">{{ info.text }}</a>
    </th>
  </tr></thead>
  <tbody><tr v-for="idol in sortedIdols">
    <td><img class="idol_icon" :src="idol.url"/></td>
    <td><a v-bind:href="makeLink(idol.id)">{{ idol.jp_name }}</a></td>
    <td>{{ idol.i_type }}</td>
    <td v-if="idol.age">{{ idol.age }}</td><td v-else>不明</td>
    <td v-if="idol.height">{{ idol.height }}</td><td v-else>不明</td>
    <td v-if="idol.weight">{{ idol.weight }}</td><td v-else>不明</td>
  </tr></tbody>
</table>
{% endblock %}

{% block body %}
{[ super() ]}
<script type="application/json" id="idols_json">{[idols|safe]}</script>
{% endblock %}
