{% extends "base.html" %}
{% block title %}{[ title ]}{% endblock %}
{% block head %}
{[ super() ]}
<link rel="stylesheet" href="{[ url_for('static', filename='css/idol.css') ]}">
<script src="{[ url_for('static', filename='js/idol.js') ]}"></script>
{% endblock %}

{% block navbar %}
{[ super() ]}
<button class="btn btn-outline-light ms-auto" v-on:click="changeLanguage()" :disabled="notBoth">{{ panelWord }}</button>
{% endblock %}

{% block content %}
<div class="row">
<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/idols">所有偶像</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ shown.info.name }}</li>
  </ol>
</nav>
</div>
<div id="info" class="card mb-3" style="max-width: 450px">
  <div class="row g-0">
    <div class="col-md-4">
      <img :src="shown.info.img_url"/>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <div class="row">
          <div class="col"><b>姓名</b> {{ shown.info.name }}</div>
        </div>
        <div class="row">
          <div class="col"><b>陣營</b> {{ shown.info.idol_type }}</div>
        </div>
        <div class="row">
          <div class="col"><b>年齡</b> {{ shown.info.age }}</div>
        </div>
        <div class="row">
          <div class="col"><b>身高</b> {{ shown.info.height }}</div>
        </div>
        <div class="row">
          <div class="col"><b>體重</b> {{ shown.info.weight }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link active" href="#">卡片</a></li>
</ul>
<table id="cards" class="table">
  <tr>
    <th v-for="cardTitle in cardTitles">{{ infoTitle }}
    </th>
  </tr>
  <tr v-for="card in shown.cards">
    <td><a :href="card.url"><img class="card_icon me-2" :src="card.img_url"/>{{ card.name }}</a></td>
    <td>{{ card.rare }}</td>
    <td>{{ card.time }}</td>
  </tr>
</table>
{% endblock %}

{% block body %}
{[ super() ]}
<script type="application/json" id="idol_json">{[idol|safe]}</script>
{% endblock %}
