.card_icon {
  display: inline-block;
  position: relative;
  height: 50px;
  width: 50px;
}
.card_icon img {
  height: 100%;
  width: 100%;
}
.card_icon:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background-size: contain;
}
.card_ssr:after {
  background-image: url('/static/images/card_icon_mark/rare_SSR.png');
}
.card_sr:after {
  background-image: url('/static/images/card_icon_mark/rare_SR.png');
}
.card_r:after {
  background-image: url('/static/images/card_icon_mark/rare_R.png');
}
.card_n_pr:after {
  border: 2px #ff3b6a solid;
  border-radius: 5px;
}
.card_n_fa:after {
  border: 2px #3245ff solid;
  border-radius: 5px;
}
.card_n_an:after {
  border: 2px #e6e613 solid;
  border-radius: 5px;
}